<!--Barra de Navegacion-->
<app-navbar></app-navbar>

<div class="content-wrapper py-3">
<div class="container-fluid">
   <!--Barra de navegacion-->
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['home']"><i class="fa fa-home"></i> Inicio</a></li>
      <li class="breadcrumb-item active"><i class="fa fa-user"></i> Mi Perfil</li>
   </ol>
   <!-- Barra del Perfil-->
   <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-offset-12" >
         <div class="card">
            <img class="card-img-top text-center" [src]="usuario.img" alt="Card image cap" height="auto" width="100%">
            <!--[src]="userProfile.picture"-->
            <div class="card-block">
              <!--<h4 class="card-title">{{userProfile.name}}</h4> -->
               <h4 class="card-title">{{usuario.nombreCompleto.nombres}} {{usuario.nombreCompleto.apellidos}}</h4>
               <hr>
               <p class="card-text">Pilas esto se llama desde MONGO</p>
               <hr>
              <strong> Facultad de: </strong> <span class="badge badge-pill badge-success">{{usuario.educacion.facultad}}</span>
            </div>
         </div>
         <br>
      </div>

      <!--Informacion del perfil-->
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-offset-12">
         <informacion-perfil></informacion-perfil>
      </div>
   </div>
</div>
</div>
