<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Página No Encontrada</h2>
                <div class="error-details">
                    Lo sentimos, se ha producido un error, no se ha encontrado la página solicitada.
                </div>
                <div class="error-actions">
                    <a [routerLink]="['/home']" class="btn btn-primary btn-lg"> <i class="fa fa-home" aria-hidden="true"></i> Volver al Inicio </a>
                </div>
                <div class="footer">
                    <img src="assets/img/pie.png" width="100%">
                </div>

            </div>

        </div>
    </div>

</div>