<!--Bienvenida-->
<div class="container-fluid animated bounceInDown fast">
   <!-- Iconos de Notificacion -->
   <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
         <div class="card card-inverse card-primary o-hidden h-100">
            <div class="card-block">
               <div class="card-block-icon">
                  <i class="fa fa-fw fa-comments"></i>
               </div>
               <div class="mr-5">
                  Mensajes Nuevos
               </div>
            </div>
            <a [routerLink]="['/mensajes']" class="card-footer clearfix small z-1">
            <span class="float-left">Ver más</span>
            <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
         <div class="card card-inverse card-success o-hidden h-100">
            <div class="card-block">
               <div class="card-block-icon">
                  <i class="fa fa-fw fa-list"></i>
               </div>
               <div class="mr-5">
                  11 New Tasks!
               </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
            <span class="float-left">Ver más</span>
            <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
         <div class="card card-inverse card-warning o-hidden h-100">
            <div class="card-block">
               <div class="card-block-icon">
                  <i class="fa fa-fw fa-shopping-cart"></i>
               </div>
               <div class="mr-5">
                  123 New Orders!
               </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
            <span class="float-left">Ver más</span>
            <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
         </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
         <div class="card card-inverse card-danger o-hidden h-100">
            <div class="card-block">
               <div class="card-block-icon">
                  <i class="fa fa-fw fa-legal"></i>
               </div>
               <div class="mr-5">
                  Políticas del Programa Housing-UD
               </div>
            </div>
            <a href="#" class="card-footer clearfix small z-1">
            <span class="float-left">Ver más</span>
            <span class="float-right"><i class="fa fa-angle-right"></i></span>
            </a>
         </div>
      </div>
   </div>
   <hr>
   <div class="jumbotron" >
      <div class="row">
        <div class=" housing col-lg-4">
          <img src="assets/img/Logo.svg" alt="">
        </div>
        <div class="col-lg-8">
          <h1>Bienvenido {{usuario.nombre}} !! </h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
             <a class="btn btn-primary btn-lg" [routerLink]="['/alojamientos']" role="button"> <i class="fa fa-search"></i> Ver alojamientos</a>
          </p>
        </div>
      </div>
   </div>
   <br>
</div>
