body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.reglas{
  background-color: #ECEEEF;
  padding-top: 20px;
  padding-bottom: 20px;
}

agm-map {
      width: 650px;
      height: 250px;
    }
