<!--Barra de Navegacion-->
<app-navbar></app-navbar>
<div class="content-wrapper py-3">
    <!--Bienvenida-->
    <div class="container-fluid animated bounceInDown fast">
        <!-- Iconos de Notificacion -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card card-inverse card-primary o-hidden h-100">
                    <div class="card-block">
                        <div class="card-block-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">
                            Conoce más sobre el funcionamiento del CERI
                        </div>
                    </div>
                    <a href="http://ceri.udistrital.edu.co/" class="card-footer clearfix small z-1">
                        <span class="float-left">  <i class="fa fa-desktop"></i> Visitar Sitio Web</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card card-inverse card-success o-hidden h-100">
                    <div class="card-block">
                        <div class="card-block-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">
                            Conoce los datos asociados a tú perfil visitando "Ver Perfil"
                        </div>
                    </div>
                    <a [routerLink]="['/perfil']" class="card-footer clearfix small z-1">
                        <span class="float-left"> <i class="fa fa-plus"></i> Ver más</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card card-inverse card-warning o-hidden h-100">
                    <div class="card-block">
                        <div class="card-block-icon">
                            <i class="fa fa-fw fa-legal"></i>
                        </div>
                        <div class="mr-5">
                            Conoce más visitando "Políticas del Programa Housing-UD"
                        </div>
                    </div>
                    <a href="#" class="card-footer clearfix small z-1">
                        <span class="float-left"> <i class="fa fa-plus"></i> Ver más</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card card-inverse card-danger o-hidden h-100">
                    <div class="card-block">
                        <div class="card-block-icon">
                            <i class="fa fa-fw fa-university"></i>
                        </div>
                        <div class="mr-5">
                            Visita la página web de la Universidad Distrital Francisco José de Caldas
                        </div>
                    </div>
                    <a href="https://www.udistrital.edu.co/" class="card-footer clearfix small z-1">
                        <span class="float-left">   <i class="fa fa-desktop"></i> Visitar Sitio Web</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="jumbotron">
            <div class="row">
                <div class=" housing col-lg-4">
                    <img src="assets/img/Logo.svg" alt="">
                </div>
                <div class="col-lg-8">

                    <h1>Hola, {{nombre}} !! </h1>

                    <p class="lead">Housing-UD, es una iniciativa promovida por el CERI, para masificar los intercambios estudiantiles. Permitiendole a los estudiantes realizar intercambios estudiantiles a un bajo costo</p>
                    <hr class="my-4">
                    <p>Estadía para tu movilidad académica</p>

                    <p class="lead">
                        <a class="btn btn-primary btn-lg" [routerLink]="['/alojamientos']" role="button"> <i class="fa fa-search"></i> Ver alojamientos</a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="assets/img/pie.png" width=100% alt="">
        </div>
    </div>
</div>