<!--Barra de Navegacion-->
<app-navbar></app-navbar>

<div class="content-wrapper py-3">
<div class="container-fluid">
<ul class="nav nav-tabs col-xs-offset-12" role="tablist">
   <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#datosBasicos" role="tab"> <i class="fa fa-address-book" ></i> Datos Básicos</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#interesesCostumbres" role="tab"> <i class="fa fa-coffee" ></i> Interéses y costumbres</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#condicionesMedicas" role="tab"> <i class="fa fa-medkit" ></i> Condiciones Médicas</a>
   </li>
   <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#contactosEmergencia" role="tab"> <i class="fa fa-ambulance" ></i> Contactos de Emergencia</a>
   </li>
</ul>
<!--Datos Basicos-->
<div class="tab-content">
   <div class="tab-pane active" id="datosBasicos" role="tabpanel">
      <br>
      <div class="jumbotron">
        <h2> <i class="fa fa-address-book"></i> Datos Básicos</h2>
        <hr>
         <div class="form-group row">
            <label for="fechaNacimiento" class="col-lg-3 col-sm-4 col-xs-4 col-form-label">Fecha de Nacimiento</label>
            <div class="col-lg-4 col-sm-8 col-xs-8">
               <input class="form-control " type="text" readonly value="11/02/1980" id="fechaNacimiento">
            </div>
            <label for="sexo" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">Sexo</label>
            <div class="col-lg-4 col-sm-8 col-xs-8">
               <input class="form-control" type="text" readonly  value="Masculino" id="sexo">
            </div>
         </div>

         <div class="form-group row">
            <label for="RH" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">RH</label>
            <div class="col-lg-2 col-sm-8 col-xs-8">
               <input class="form-control" type="text"  readonly value="A +" id="RH">
            </div>
            <label for="peso" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">Peso</label>
            <div class="col-lg-2 col-sm-8 col-xs-8">
               <input class="form-control" type="text" readonly  value="78 Kg" id="peso">
            </div>
            <label for="altura" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">Altura</label>
            <div class="col-lg-2 col-sm-8 col-xs-8">
               <input class="form-control" type="text"  readonly value="1.75 mts" id="altura">
            </div>
            <label for="edad" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">Edad</label>
            <div class="col-lg-2 col-sm-8 col-xs-8">
               <input class="form-control" type="text"  readonly value="37 años" id="edad">
            </div>
         </div>

          <hr>
           <div class="form-group row">
            <label for="universidadOrigen" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Universidad de Origen</label>
            <div class="col-lg-8 col-sm-12 col-xs-12">
               <input class="form-control" type="text"  readonly value="UNAM" id="universidadOrigen">
            </div>
         </div>
         <div class="form-group row">
            <label for="carrerar" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Carrera</label>
            <div class="col-lg-8 col-sm-12- col-xs-12">
               <input class="form-control" type="text"  readonly value="Ingenieria de Sistemas" id="carrera">
            </div>
         </div>
         <div class="form-group row">
            <label for="duracion" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Duración Movilidad</label>
            <div class="col-lg-8 col-sm-12 col-xs-12">
               <input class="form-control" type="text"  readonly value="2 semestres" id="duracion">
            </div>
         </div>
         <hr>
         <div class="form-group row">
            <label for="correo" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Correo Electrónico</label>
            <div class="col-lg-8 col-sm-12 col-xs-12">
               <input class="form-control" type="email"  readonly value="ceriUD@hotmail.com" id="example-number-input">
            </div>
         </div>
         <div class="form-group row">
            <label for="telefono" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Teléfono</label>
            <div class="col-lg-8 col-sm-12 col-xs-12">
               <input class="form-control" type="text"  readonly value="3101234567" id="telefono">
            </div>
         </div>
         <div class="form-group row">
            <label for="example-number-input" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Número Pasaporte</label>
            <div class="col-lg-8 col-sm-12 col-xs-12">
               <input class="form-control" type="text"  readonly value="345-564-3" id="example-number-input">
            </div>
         </div>
      </div>
   </div>
   <!--/Datos Basicos-->
   <!--Intereses y constumbres-->
   <div class="tab-pane" id="interesesCostumbres" role="tabpanel">
     <br>
     <div class="jumbotron">
       <h2> <i class="fa fa-coffee"></i> Interéses y costumbres</h2>
       <hr>
       <div class="form-group row">
          <div class="col-lg-6 col-sm-12 col-xs-12">
          <table class="table table-striped">
            <thead class="bg-success table-inverse" >
            <tr>
              <th><i class="fa fa-soccer-ball-o"></i> Hobbies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Nadar</th>
            </tr>
            <tr>
              <th>Leer</th>
            </tr>
            <tr>
              <th>Bailar</th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-6 col-sm-12 col-xs-12">
      <table class="table table-striped">
        <thead class=" intereses table-inverse" >
        <tr>
          <th><i class="fa fa-flag"></i> Otros intéreses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Consumo de alcohol: No</th>
        </tr>
        <tr>
          <th>Consumo de drogas o sustancias psicoactivas: No</th>
        </tr>
        <tr>
          <th>Consumo de Tabaco: No</th>
        </tr>
      </tbody>
    </table>
    </div>
     </div>
    <hr>
     <div class=" form-group row">
       <div class="col-lg-12">
         <table class="table table-striped">
         <tbody>
           <tr>
             <th class="religion table-inverse text-center">  <i class="fa fa-plus"></i> Religión</th>
             <th class="text-center"> Cristianos</th>
           </tr>

         </tbody>
       </table>
       </div>
     </div>
     <hr>
     <h2> <i class="fa fa-cutlery"></i> Hábitos alimenticios</h2>
        <p class="habitos text-justify">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
       </p>
     </div>

   </div>
   <!--/Intereses y constumbres-->
   <!--Condiciones Medicas-->
   <div class="tab-pane" id="condicionesMedicas" role="tabpanel">
     <br>
     <div class="jumbotron">
       <h2> <i class="fa fa-medkit"></i> Condiciones Médicas</h2>
       <hr>
        <div class=" form-group row">
          <div align="center" class="col-lg-4 col-sm-12 col-xs-12 ">
            <img class="img" src="./assets/img/Enfermedades.svg" width="70%" alt="">
          </div>
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <thead class="bg-success table-inverse" >
              <tr>
                <th>Enfermedades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Asma</th>
              </tr>
              <tr>
                <th>Rinitis alergica</th>
              </tr>

            </tbody>
          </table>
          </div>
        </div>
        <hr>
        <div class=" form-group row">
          <div align="center" class="col-lg-4 col-sm-12 col-xs-12 ">
              <img class="img" src="./assets/img/Alergias.svg" width="50%" alt="">
          </div>
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <thead class="bg-info table-inverse" >
              <tr>
                <th> Alergias</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Maní</th>
              </tr>
              <tr>
                <th>Ají</th>
              </tr>
              <tr>
                <th>Fresas</th>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <hr>
        <div class=" form-group row">
          <div align="center" class="col-lg-4 col-sm-12 col-xs-12 ">
              <img class="img" src="./assets/img/m.svg" width="50%" alt="">
          </div>
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <thead class="bg-warning table-inverse" >
              <tr>
                <th>Medicamentos que consume</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Loratadina</th>
              </tr>
              <tr>
                <th>Salbutamol</th>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <hr>
        <div class=" form-group row">
          <div align="center" class="col-lg-4 col-sm-12 col-xs-12 ">
              <img class="img" src="./assets/img/limitaciones.svg" width="50%" alt="">
          </div>
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <thead class="intereses table-inverse" >
              <tr>
                <th colspan="3"> Limitaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Auditiva: No</th>
                <th>Fisica: No</th>
                <th>Mental: No</th>
              </tr>
              <tr>
                <th>Visual: No</th>
                <th colspan="2">Otra: Uso de muletas</th>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
     </div>
   </div>
   <!--/Condiciones Medicas-->
   <!--Contactos de emergencia-->
   <div class="tab-pane" id="contactosEmergencia" role="tabpanel">
     <br>
     <div class="jumbotron">
       <h2> <i class="fa fa-ambulance"></i> Contactos de Emergencia</h2>
       <hr>
          <div class="form-group row">
            <div align="center" class="col-lg-4 col-sm-12 col-xs-12">
              <img class="img" src="./assets/img/Contacto1.svg" width="80%"  alt="">
            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12">
              <div class="form-group row">
                <label for="nombresContacto" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Nombres: </label>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                   <input class="form-control" type="text"  readonly value="Daniela" id="nombresContacto">
                </div>
              </div>

              <div class="form-group row">
                <label for="apellidosContacto" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Apellidos: </label>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                   <input class="form-control" type="text"  readonly value="Fernandez" id="apellidosContacto">
                </div>
              </div>

              <div class="form-group row">
                <label for="parentescoContacto" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Parentesco: </label>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                   <input class="form-control" type="text"  readonly value="Amiga" id="parentescoContacto">
                </div>
              </div>

              <div class="form-group row">
                <label for="telefonoContacto" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Teléfono Móvil: </label>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                   <input class="form-control" type="text"  readonly value="+(57) 300-123-54-89" id="telefonoContacto">
                </div>
              </div>

              <div class="form-group row">
                <label for="correoContacto" class="col-lg-4 col-sm-12 col-xs-12 col-form-label">Correo Electrónico: </label>
                <div class="col-lg-8 col-sm-12 col-xs-12">
                   <input class="form-control" type="text"  readonly value="dani@gmail.com" id="correoContacto">
                </div>
              </div>

            </div>
          </div>


          <hr>
     </div>
   </div>
   <!--/Contactos de emergencia-->
</div>
</div>
</div>
