<div class="container-fluid">
<ul class="nav nav-tabs" role="tablist">
   <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#datosBasicos" role="tab"> <i class="fa fa-address-book" ></i> Datos Básicos</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#condicionesMedicas" role="tab"> <i class="fa fa-medkit" ></i> Condiciones Médicas</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#interesesCostumbres" role="tab"> <i class="fa fa-check" ></i> Interéses y costumbres</a>
   </li>
   <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#contactosEmergencia" role="tab"> <i class="fa fa-ambulance" ></i> Contactos de Emergencia</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#otros" role="tab"> <i class="fa fa-list-ul" ></i> Otros</a>
   </li>
</ul>
<!--Contenido de las Tab -->
<div class="tab-content">
   <div class="tab-pane active" id="datosBasicos" role="tabpanel">
      <br>
      <div class="jumbotron">
        <h2> <i class="fa fa-address-book"></i> Datos Básicos</h2>
        <hr>
         <div class="form-group row">
            <label for="fechaNacimiento" class="col-lg-3 col-sm-4 col-xs-4 col-form-label">Fecha de Nacimiento</label>
            <div class="col-lg-4 col-sm-8 col-xs-8">
               <input class="form-control text-xs-center" type="text" readonly value="11/02/1980" id="fechaNacimiento">
            </div>
            <label for="sexo" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">Sexo</label>
            <div class="col-lg-4 col-sm-8 col-xs-8">
               <input class="form-control" type="text" readonly  value="Masculino" id="sexo">
            </div>
         </div>

         <div class="form-group row">
            <label for="RH" class="col-lg-1 col-sm-4 col-xs-4 col-form-label">RH</label>
            <div class="col-lg-2 col-sm-8 col-xs-8">
               <input class="form-control" type="text"  readonly value="A +" id="RH">
            </div>
            <label for="peso" class="col-1 col-form-label">Peso</label>
            <div class="col-2">
               <input class="form-control" type="text" readonly  value="78 Kg" id="peso">
            </div>
            <label for="altura" class="col-1 col-form-label">Altura</label>
            <div class="col-2">
               <input class="form-control" type="text"  readonly value="1.75 mts" id="altura">
            </div>
            <label for="edad" class="col-1 col-form-label">Edad</label>
            <div class="col-2">
               <input class="form-control" type="text"  readonly value="37 años" id="edad">
            </div>
         </div>

          <hr>
           <div class="form-group row">
            <label for="universidadOrigen" class="col-4 col-form-label">Universidad de Origen</label>
            <div class="col-lg-8">
               <input class="form-control" type="text"  readonly value="UNAM" id="universidadOrigen">
            </div>
         </div>
         <div class="form-group row">
            <label for="carrerar" class="col-4 col-form-label">Carrera</label>
            <div class="col-8">
               <input class="form-control" type="text"  readonly value="Ingenieria de Sistemas" id="carrera">
            </div>
         </div>
         <div class="form-group row">
            <label for="duracion" class="col-2 col-form-label">Duración Movilidad</label>
            <div class="col-10">
               <input class="form-control" type="text"  readonly value="2 semestres" id="duracion">
            </div>
         </div>
         <hr>
         <div class="form-group row">
            <label for="correo" class="col-2 col-form-label">Correo Electrónico</label>
            <div class="col-10">
               <input class="form-control" type="email"  readonly value="ceriUD@hotmail.com" id="example-number-input">
            </div>
         </div>
         <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Teléfono</label>
            <div class="col-10">
               <input class="form-control" type="text"  readonly value="3101234567" id="example-number-input">
            </div>
         </div>
         <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Número Pasaporte</label>
            <div class="col-10">
               <input class="form-control" type="text"  readonly value="345-564-3" id="example-number-input">
            </div>
         </div>

      </div>
   </div>
   <div class="tab-pane" id="condicionesMedicas" role="tabpanel">...</div>
   <div class="tab-pane" id="interesesCostumbres" role="tabpanel">...</div>
   <div class="tab-pane" id="contactosEmergencia" role="tabpanel">...</div>
   <div class="tab-pane" id="otros" role="tabpanel">...</div>
</div>
</div>
