
<main class="container pt-5">

<div class="card mb-5">
    <div class="card-header text-success">
        <h1>Mensajes Recibidos</h1>
    </div>
    <div class="card-block p-0">
        <table class="table table-bordered table-striped table-sm m-0">
            <thead class="">
                <tr>
                    <th> </th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Dirección E-mail</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <button type="button" class="btn btn-success btn-xs" ><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-danger btn-xs" ><i class="fi-page-search"></i></button>
                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td>John Lilki</td>
                    <td>September 14, 2013</td>
                    <td>jhlilk22@yahoo.com</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer p-0">
        <nav aria-label="...">
            <ul class="pagination justify-content-end mt-3 mr-3">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <span class="page-link">2<span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</main>
