<body id="page-top">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="/assets/img/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Housing-UD
            </a>
        </nav>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="sidebar-nav navbar-nav">
                <!--Clase del activo-->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-fw fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/alojamientos']"><i class="fa fa-fw fa-search"></i> Buscar alojamiento</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/perfil','KWGFT20121020079']"><i class="fa fa-fw fa-user"></i> Mi Perfil</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/postular-alojamiento']"><i class="fa fa-fw fa-plus-square"></i> Postular un alojamiento</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <!--*ngIf="!esEstudiante()"-->
                    <a class="nav-link" [routerLink]="['/entrevista']"><i class="fa fa-fw fa-calendar"></i> Entrevista</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"><i class="fa fa-fw fa-info-circle"></i> Información</a>
                    <ul class="sidebar-second-level collapse" id="collapseMulti">
                        <li routerLinkActive="active">
                            <a href="#"> <i class="fa fa-sitemap"></i> ¿Qué es Housing-UD?</a>
                        </li>
                        <li routerLinkActive="active">
                            <a href="#"> <i class="fa fa-legal"></i> Políticas del programa</a>
                        </li>

                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2 " href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i> <span class="hidden-lg-up">Messages <span class="badge badge-pill badge-primary">12 New</span></span>
                        <span class="new-indicator text-primary hidden-md-down"><i class="fa fa-fw fa-circle"></i><span class="number">12</span></span>
                    </a>
                    <div class="dropdown-menu animated flipInY" aria-labelledby="messagesDropdown">

                        <h6 class="dropdown-header"> <i class="fa fa-fw fa-envelope"></i> New Messages:</h6>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong> <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong> <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong> <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#"> <i class="fa fa-fw fa-comments"></i> View all messages </a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar ...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']"><i class="fa fa-fw fa-user"></i>{{usuario.rol}}</a>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#"><i class="fa fa-fw fa-sign-out"></i> Salir</a>-->
                    <a class="nav-link" (click)="logout()">
                        <i class="fa fa-fw fa-sign-out"></i>Salir
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.content-wrapper -->
</body>