<body id="page-top">
   <!-- Navigation -->
   <nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse" >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']" >Housing-UD</a>
      <div class="collapse navbar-collapse" id="navbarExample">
         <ul class="sidebar-nav navbar-nav">
            <!--Clase del activo-->
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['/home']" ><i class="fa fa-fw fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['/alojamientos']" ><i class="fa fa-fw fa-search"></i> Buscar alojamiento</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['/perfil']" ><i class="fa fa-fw fa-user"></i> Mi Perfil</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link" [routerLink]="['/postulacion']" ><i class="fa fa-fw fa-plus-square"></i> Postular un alojamiento</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
               <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"><i class="fa fa-fw fa-info-circle"></i> Información</a>
               <ul class="sidebar-second-level collapse" id="collapseMulti">
                  <li routerLinkActive="active">
                     <a href="#">  <i class="fa fa-sitemap"></i>  ¿Qué es Housing-UD?</a>
                  </li>
                  <li routerLinkActive="active">
                     <a href="#"> <i class="fa fa-legal"></i> Políticas del programa</a>
                  </li>
                  
               </ul>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" [routerLink]="['/perfil']"><i class="fa fa-fw fa-user"></i>Estudiante</a>
            </li>
            <li class="nav-item">
               <!--<a class="nav-link" href="#"><i class="fa fa-fw fa-sign-out"></i> Salir</a>-->
               <a class="nav-link" (click)="logout()">
                   <i class="fa fa-fw fa-sign-out"></i>Salir
               </a>
            </li>
         </ul>
      </div>
   </nav>
   <!-- /.content-wrapper -->
</body>
