<div class="container">
   <div class="row">
      <div class="col-lg-3">
         <app-modal-informacion></app-modal-informacion>
      </div>
      <div class="col-lg-9">
        <!-- Barra de Navegación -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']"> <i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
          <li class="breadcrumb-item active"> <i class="fa fa-user-plus" aria-hidden="true"></i>Registrarse</li>
        </ol>
         <div class="jumbotron">
            <h2 class="display-3"> <i class="fa fa-user-plus"></i> Registrate!</h2>
            <form-wizard>
              <!--Paso 1 DATOS BASICOS-->
               <wizard-step [title]="'Paso 1'">
                  <h1> <i class="fa fa-address-book"></i> Datos Básicos</h1>
                  <hr>
                  <div class="form-group">
                     <label for="exampleInputEmail1">Email address</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
               </wizard-step>
               <!--Paso 2-->
               <wizard-step [title]="'Paso 2'" (onNext)="onStep2Next($event)">
               <h1>Paso 2</h1>
               </wizard-step>
               <!--Paso 3-->
               <wizard-step [title]="'Paso 3'" (onNext)="onStep3Next($event)">
               <h1>Paso 3</h1>
               </wizard-step>
               <!--Paso 4-->
               <wizard-step [title]="'Paso 4'" (onNext)="onStep4Next($event)">
               <h1>Paso 4</h1>
               </wizard-step>
            </form-wizard>
            <br>
            <div class= "form-group block-center">
                  <div class="col-lg-10 col-lg-offset-4">
                    <button type="reset" class="btn btn-default">  Cancelar</button>
                    <button type="submit" class="btn btn-success">  Enviar</button>
                  </div>
                </div>
         </div>
      </div>
   </div>
</div>
